$length-of-technologies: 18;
.iterable {
	margin: 0;
	padding-left: 4px;
	position: relative;

}
.iterates {
	list-style-type: none;
	opacity: 0;
	animation: move ($length-of-technologies * 1s) ease-in infinite;
	position: absolute;
	color: $type-orange;
}

@for $i from 1 through $length-of-technologies{
	.iterates:nth-of-type(#{$i + 1}){
		
		animation-delay: #{$i}s;

	}

}
@keyframes move {
  0% {
    display: none;
    opacity: 0;
  }
  4% {
   	display: inline-block;
   	opacity: 1;
  }

  8% {
    display: none;
    opacity: 0;
  }
}
$length-of-beliefs: 8;
h4 {
	position: relative;

}
.stagnate {
	position: absolute;
	top: 0;
	display: block;
}
.iterable-beliefs {


}
.iterate-belief {
	.i-believe {
		visiblibilty: hidden;
		opacity: 0;
	}
	list-style-type: none;
	display: block;
	opacity: 0;
	height: 0;

	color: $type-orange;
	animation: believe ($length-of-beliefs * 1s) ease-in infinite;

}

@for $i from 1 through $length-of-beliefs{
	.iterate-belief:nth-of-type(#{$i + 1}){
		
		animation-delay: #{$i}s;

	}

}



@keyframes believe {
  0% {
    height: 0;

    opacity: 0;
  }
  7% {
   	height: auto;

   	opacity: 1;
  }

  14% {
    height: 0;

    opacity: 0;
  }
}
.period {
	$base: 3s;
	animation: dotdot $base infinite;
	padding-left: 4px;
	padding-right: 4px;
	&.first {
		opacity: 1;
		
	}
	&.second {
		opacity: 0;
		animation-delay: ($base / 3);
	}
	&.third {
		opacity: 0;
		animation-delay: ($base / 3 * 2);
	}	
}

@keyframes dotdot {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}