
<div class="row-fluid">
    <div class="portfolio-wrap">
        
			<div id="workbeyotch"></div>

    		<div class="portfolio" id="espnhackathon">
    			<h3>
    				<a href="http://espn.huntandgather.com/devcenter/hackathon/espn.html" target="_blank">EspnW Dev Center:  Hack Day 2012</a></h3>
    				<img alt="" class="image-large" src="pics/espnhackathon.jpg" title="" typeof="foaf:Image"/>
    				
    		</div>
			<div class="portfolio" id="mitxnext">
				<h3>
					<a href="http://mitxnext.org" target="_blank">Mitxnext.org</a></h3>
					<p><img alt="" class="image-large" src="pics/mitxnext.jpg" title="" typeof="foaf:Image">
					</p>
			</div>
			<div class="portfolio" id="greenlightfund">
				<h3>
					<a href="http://greenlightfund.org" target="_blank">GreenlightFund.org</a></h3>
					<p><a http://localhost/sites/greenlight/ href="pics/greenlightfund.jpg" rel="gallery-all" title=""><img alt="" class="image-large" src="pics/greenlightfund.jpg" title="" typeof="foaf:Image"></a>
					</p>
			</div>
			<div class="portfolio" id="miamiholidaygifs">
				<h3>
					<a href="http://miamiholidaygifs.com" target="_blank">MiamiHolidayGifs.com</a></h3>
					<p><a http://localhost/sites/greenlight/ href="pics/miamiholidaygifs.jpg" rel="gallery-all" title=""><img alt="" class="image-large" src="pics/miamiholidaygifs.jpg" title="" typeof="foaf:Image"></a>
					</p>
			</div>
			<div class="portfolio" id="yourselfseries">
				<h3>
					<a href="http://yourselfseries.com" target="_blank">YourSelfSeries.com</a></h3>
					<p><a http://localhost/sites/greenlight/ href="pics/yourselfseries.jpg" rel="gallery-all" title=""><img alt="" class="image-large" src="pics/yourselfseries.jpg" title="" typeof="foaf:Image"></a>
					</p>
			</div>
			<div class="portfolio" id="cgomez">
				<h3>
					<a href="http://carlosgomez-actor.com" target="_blank">CarlosGomez-Actor.com</a></h3>
					<p>		<a http://localhost/sites/greenlight/ href="pics/carlos1.png" rel="gallery-all" title=""><img alt="" class="image-large" src="pics/carlos1.png" title="" typeof="foaf:Image"></a></p>
			</div>
			<div class="portfolio" id="phippsre">
				<h3>
					<a href="http://phippsrealty.com" target="_blank">PhippsRealty.com</a></h3>
					<p>		<a http://localhost/sites/greenlight/ href="pics/phipps_showcase.png" rel="gallery-all" title=""><img alt="" class="image-large" src="pics/phipps_showcase.png" title="" typeof="foaf:Image"></a></p>
			</div>
    															








    </div>
</div>
