
<div class="container resume-page">
    <div class="row">
    	<div class="col-xs-12">
				<address>
				        <span class="name">Ian M Phipps</span>
				        <span class="phone">401.640.7096</span>
				        <span class="email"><a href="mailto:ian@ianmphipps.com">ian@ianmphipps.com</a></span>
				        <span class="neighborhood">Brooklyn, NY, 11249</span>
				</address>
				<section class="work">
					<h2>Work</h2>
					<div class="section">
						<h3>Endurance International, <span="location-time">Burlington, MA June 2013 - Present</span></h3>

						<p>UI / UX / Front End Development Team Member working with back end engineers, marketing, product and project managers to continue improving our Control Panel, web hosting tools, among the other services and products that Endurance and its affiliates offer.</p>

						<p>Html, css/scss, javascript, dancing around perl and version controlling with git.<p>

						<p>Passed projects include: </p>
						<ul>
							<li>- Front End and UX on Google Apps for Work offering in Control Panel </li>
							<li>- Front End and UX on Constant Contact offering in Control Panel </li>
							<li>- Front End and UX on LocalLift, Yext offering in Control Panel </li>
							<li>- Front End work on nTLD offering on EIG brand product pages. E.g., See domain.com, search for a domain (Backbone.js app) </li>
							<li>- Contributed to Rebrand of startlogic.com & hostgator.com </li>
							<li>- Theming for Site Expresso site builder </li>
							<li>- Front end development of VPS offering </li>
							<li>- Removed XSLT in favor of mason based templating system in vDeck control panel across 35+ brands -- 4.5million monthly users </li>
							<li>- Integrated sass, twitter bootstrap ui and grunt workflows into EIG's vDeck web hosting platform on a server cluster that barely has ruby gems installed</li>
						</ul>
							
					</div>
					<div class="section">
						<h3>Hunt and Gather, <span="location-time">Boston, MA August 2012 - June 2013</span></h3>
						<p>Web Developer: working on team of Project managers, producers and designers building currently existing and new websites.  Most work involved wordpress and drupal site building and theming, although there was the occasional static site or small web application type project. Sites include, </p>
							<ul class="hg-sites li-float">
								<li><a href="http://musicexperiment.com" target="_blank">The Music Experiment</a>, </li>
								<li><a href="http://biologyhowlifeworks.com" target="_blank">Biology: How Life Works</a>. </li>
								<li><a href="http://greenlightfund.org" target="_blank">Greenlight Fund</a>, </li>
								<li> <a href="http://yourselfseries.com" target="_blank">Your Self Series</a>, </li>
								<li><a href="http://mitxnext.org" target="_blank">Mitx Next</a>, </li>
								<li><a href="http://developer.espn.com/events/espnw2012hackday" target="_blank">Developer ESPN - banner page</a>, </li>
								<li><a href="http://fm-associates.com" target="_blank">FM Associates</a>, </li>
								<li><a href="http://agcpartners.com" target="_blank">AGC Partners</a>, </li>
								
								<li>Among others.</li>
							</ul>
					</div>
					<div class="section">
						<h3>Freelance Web Development,  <span="location-time">Boston, MA Jan 2012 - Present</span></h3>
						<p>Creating websites with an emphasis on semantic code, cross browser compatibility, accessibility, and fulfilling client demands while producing on time and within budget. Recent emphasis has been on responsive sites.  Sites include: </p>
							<ul class="freelance-sites li-float">
								<li><a href="http://pamelasilva.com" target="_blank">Pamela Silva</a>, </li>
								<li><a href="http://mprove.com" target="_blank">mProve</a>, </li>
								<li><a href="http://brimfulshop.com" target="_blank">Brimful Shop</a>, </li>
								<li><a href="http://carlosgomez-actor.com" target="_blank">Carlos Gomez - Actor</a>, </li>
								<li><a href="http://gravitystudies.com" target="_blank">Gravity Studies</a>, </li>
								<li><a href="http://lambdaprime.com" target="_blank">Lambda Prime</a> </li>
							</ul>
							<p>Sites utilize WordPress or Drupal.  Some of the above are hard coded. Most work has been with an art director, converting her mockups from .psd to work beautifully in the browser.</p>
					</div>
					
					<div class="section">
						<h3>Phipps Realty, <span="location-time">Warwick, RI August 2005 - October 2012</span></h3>
						<p>Realtor - Marketing Coordinator: Brokered real estate transactions from first introduction passed closing and move-in.  Produced marketing materials for print and digital media exposure: Providence Journal, East Greenwich Magazine, phippsrealty.com. Created and manage Phipps Facebook page, YouTube channel, and twitter account. Production or development of the Phipps Realty websites throughout the years 2008, 2012.  Named Five Star Professional by Rhode Island magazine in both 2011 and 2012.  Member of top 5 producing teams in Kent County 2005-2012.</p>
					</div>
				</section><!-- /.work -->
				<section class="education">
					<h2>Education</h2>
					<p>Boston College, Chestnut Hill, MA 2007 B.A. Philosophy</p>
				</section><!-- /.education -->
				<section class="other-skills">
					<h2>Skills</h2>
					<div class="section">
						<h3>Languages: </h3>
						<ul class="languages li-float"> 
							<li>Spanish</li>
							<li>Portuguese</li>
							<li>Efficient and clear communicator.</li>
						</ul>
					</div>
					<div class="section">
						<h3>Technologies:</h3>
						<ul class="computation li-float">
							<li>javascript, </li>
							<li>html5, </li>
							<li>css3, </li>
							<li>git, </li>
							<li>php, </li>
							<li>sass, </li>
							<li>backbone.js, </li>
							<li>handlebars, </li>
							<li>angular, </li>
							<li>underscore, </li>
							<li>jquery, </li>
							<li>grunt, </li>
							<li>gumby, </li>
							<li>bootstrap, </li>
							<li>linux, </li>
							<li>cli, </li>
							<li>sublime, </li>
							<li>Drupal 6, 7, &#38; 8, </li>
							<li>WordPress, </li>
							<li>Adobe Photoshop, </li>
							<li>Illustrator, </li>
							<li>Chrome Dev Tools, </li>
							
					</div>
				</section><!-- /.other-skills -->
		</div>
    </div>
</div>
