.contact-social{
	ul{
		list-style-type:none;
		margin:0;
		padding-bottom:5%;
		text-align:center;
	}
	li{
		
		display:inline;
		
		
	}
}

footer{
	background-color: white;
	text-align: center;
	.copyright{
		padding-top:25px;
	}
}