/*
 * Typography
 *
 */

// Elements
body {

	
	font-family: 'Droid Sans', sans-serif;

	

	}

h1, h2,h3 {
	
	
	font-family: 'Prata', serif;
	font-weight:normal;

	color:$grey;
	
	}
.logo h1{
	font-family: 'Droid Sans', sans-serif;
}

h4,h5,h6 {
	
	font-family: 'Prata', serif;
	font-weight:normal;


	
	}
.resume-page h4, .resume-page h3, .technologies h5{
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	
	color:$grey;
	

	}
h2 {
	
	
	font-weight:300;
	
	}







	
	





h1 > a,
h1 > a:visited {
	
	color: transparent;
	}

a,
a:visited {
	
	text-decoration: none;
	
	}
a{
	/*
	-webkit-transition: all .5s linear;
	-moz-transition: 	all .5s linear;
	-ms-transition: 	all .5s linear;
	-o-transition: 		all .5s linear;
	transition: 		all .5s linear;
	*/
}

.nav{
	li{
		font-weight:300;
	}
}








