.top.about-menu{
	.main{
		min-height:1000px;
		background-color:white;
	}
	p{
		padding-bottom:20px;
	}
}

.contact-row{

	margin-top:60px;
	box-shadow: 0 -2px 0 0 #888;
	padding-top:20px;
	a{
		display:block;
		float:left;
		margin-right:40px;
		color:$grey;
		&:hover{
			color: lighten($grey, 20%);
		}
	}
}
.close-detail a{
	color: white;
	&:hover{
		color: #ccc;
	}
}