.brands {
	display: flex;
	width: 100%;
	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		// justify-content: space-between;
	}
	li {
		padding: 0;
		width: 0;
		list-style-type: none;
		width: (100% / 3);
		
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		img {
		
			max-width: 80%;
			display: block;
		}
		&.mtv {
			img {
				max-width: 50%;
			}
		}
		&.ipage {
			img {
				max-width: 50%;
			}
		}
	}
	
}

@include breakpoint($desktop) {
	.brands {
		li {
			width: (100% / 5);
			
		}
	}
}