/*
 * Variables
 *
 */

// Colors
$black: #222221;

$grey: #444;

$yellow: #d7df21;

$forest: #056839;

$frog: #8dc63f;

$white: #ffffff;

$blue-link: #0000ff;
$blue-hover: darken($blue-link, 10%);

//Type



// Layout
$baseline: 30;

$full: 100%;

$smallbox: $baseline * 6;

$largebox: $baseline * 12;







